-
  var steps = [
    {
      title: "Целевая аудитория",
      text: `Анализ целевой аудитории показал, что интернет-магазин
        должен привлекать сразу несколько поколений: дошкольники,
        школьники от младших до старших классов, их родители, родственники,
        преподаватели, друзья или коллеги родителей. 
        `
    }
  ];
  var steps2 = [
    {
      title: "Анализ конкурентов",
      text: `Также мы проанализировали интернет-магазины конкурентов  и отметили, 
        что в большинстве случаев товары представлены с позиции развлечений
        без какого-либо намека на науку и образование. 
        `
    },
    {
      title: "Наука под соусом веселья",
      text: `В свою очередь мы решили разработать интернет-магазин,
        который покажет, что наборы компании «Научные развлечения» – это не просто игрушки,
        а в первую очередь научные наборы, которые в игровой форме способствуют развитию детей.   
        `
    },
    {
      title: "Звезды и параллакс планет",
      text: `<p>В размышлении над тем, как с первых секунд сфокусировать пользователей на продукции
        и при этом создать впечатление научно-образовательной тематики,
        мы вдохновились научным набором «Космическая Одиссея»
        и разработали концепт сайта с использованием иллюстраций космоса, 
        планет и астронавтов.</p>

        <p>Мы стремились достичь впечатления о присутствии на космическом корабле – светящиеся кнопки,
        округлые формы с яркими контрастами, темная тема
        и глубина через звезды и параллакс планет.</p>
        `,
        img: "../img/ui.png",
        imgMobile: "../img/ui-mobile.png"
    },
    {
      title: "Логотип для интернет-магазина Наумаг",
      text: `Производитель «Научные развлечения» и интернет-магазин «Наумаг» – это две разные сущности.
        При разработке логотипа для интернет-магазина
        мы сделали упор на науку и использовали визуализацию атома..   
        `
    }
  ]

.case-section.case-section-padding#case-section--03
  .container
    .row
      .col-sm-12
        .case-main-title Решение
        .case-steps-block.case-steps-block--02
          each step in steps
            .case-step
              .case-step__title.text-neon !{step['title']} 
              .case-step__text !{step['text']}
  //- Ракета
  .case-rocket-wrapper
    img(src="img/rocket.png", alt="Ракета!").case-rocket-img
  //- !Ракета
  .container
    .row
      .col-sm-12
        .case-steps-block.case-steps-block--02.case-steps-block--move-top
          each step, index in steps2
            .case-step
              .case-step__title.text-neon !{step['title']} 
              .case-step__text !{step['text']} 
              if step.img
                img.case-step__image(src=step['img'])
              if step.imgMobile
                img.case-step__image.case-step__image--mobile(src=step['imgMobile'])
